.App {
 @include flexin;
 height: 100vh;
 overflow-y: hidden;
 overflow-x: hidden;
}

#lodge-logo {
  position: absolute;
  @include flexin;  
  flex-direction: column;
  opacity: .7;
  z-index: 10;
  img {
    animation: fade-in 6s;
    height: 500px;
  }
  h1 {
    color: $gold;
    font-family: $accentFont;
    font-size: 5rem;
    margin-top: 10px;
    animation: fade-in 8s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}

video {
  // width: 100vw;
  // height: 110vh;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}