nav {
  @include flexin;
  justify-content: space-evenly;
  width: 100%;
  animation: jump-in 8s;
  // background: #2f3538bb;
  background: #2f647e96;
  // background: $backdrop;
  height: 150px;
  a {
    text-decoration: none;
  }
  .nav-button {
    all: unset;
    border: 1.5px solid #30596d;
    padding: 10px;
    margin: 80px 0 0;
    color: $accentcolor;
    background: rgba(207, 205, 205, 0.808);
    width: 120px;
    text-align: center;
    font-family: $btnFont;
    font-weight: 700;
    box-shadow: 4px 4px 4px #262627bb;
    &:hover {
      background: rgba(66, 65, 65, 0.904);
      color: white;
      border: 1.5px solid white;
      cursor: pointer;
    }
  }
  .active {
    .nav-button {
      background: rgba(66, 65, 65, 0.904);
      color: white;
      border: 1.5px solid white;
    }
  }
  #small-logo {
    height: 130px;
    filter: drop-shadow(6px 6px 6px #262627bb);
  }
}

@keyframes jump-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}