section {
  width: 83%;
  margin: 50px auto;
  background: $backdrop;
  border: 1.5px solid $accentcolor;
  min-height: 670px;
  overflow-x: scroll;
  text-align: center;
  font-family: $accentFont;
  color: $accentcolor;
  img {
    width: 300px;
    margin: 15px;
  }
  h1 {
    font-size: 5rem;
    margin: 35px auto; 
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.5rem;
    margin: 20px auto;
  }
  p {
    font-size: 1.5rem;
    font-family: $mainFont;
    font-weight: 500;
    margin: 0 45px;
  }
  a {
    color: $accentcolor;
  }
}

#other {
  p {
    margin: 20px 45px;
  }
}

.about-img {
  height: 300px;
  width: auto;
  margin: 15px;
}