//fonts
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Merienda:400,700');
$accentFont : 'Lobster', cursive;
$btnFont : 'Merienda', cursive;

//mixings 
@mixin flexin {
  display: flex;
  justify-content: center;
  align-items: center;
}

//colors

$gold : rgba(250, 214, 57, 1);

@import "reset";
@import "home";
@import "Nav";